body{
    background-color: #212121 !important;
}

.bg-dark {
    background-color: rgb(49, 49, 49) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand,
.nav-link{
  color: #ffffff !important;
}

.post_tex_1{
    font-size: 26px;
    color: #e4e4e4;
}

.text_pdos{
    color: #e4e4e4;
    font-size: 17px;
}

.time_txt{
    color: #e4e4e4;
    position: relative;
    top: -20px;
}

.tetx_unix_1{
    font-size: 17px;
    position: relative;
    left: 10px;
    color: #e4e4e4;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #000000;
}

.col-xl-4{
    background-color: #212121;
    padding: 20px;
}

.btn-bd-primary {
    --bd-violet-bg: #212121;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #d2d2d2;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5482ff;
}

.footer-col .social-links a:hover{
    color: #e4e4e4;
    background-color: #2e2e2e;
}

.footer-col ul li a:hover{
    color: rgb(255, 255, 255);
    padding-left: 8px;
}

.footer{
    background-color: #323232;
}

.footer-col h4{
    color: #ffffff;
}

.footer-col ul li a{
    color: #e4e4e4;
}

.card{
    background-color: #2c2c2c;
}

.card-text{
    color: #d2d2d2;
}

.fw-normal{
    color: #ffffff;
}

.lead{
    color: #dfdfdf;
}

.testimonial-item p,
.col-lg-4 p{
    color: #d2d2d2;
}

section{background-color: #212121;}

.text p {
    color: #e3e3e3;
}

.text p span{
    color: #ffffff !important;
}

.contact-wrap{
    background-color: #272727 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mb-4,
.label{
    color: #ffffff !important;
}

.form-control{
    background-color: #2c2c2c !important;
    color: #ededed !important;
}

#o1,
#o2,
#o3{ 
    filter: invert(100%);
}

.h1_cingl{
    color: #ffffff;
}

.dropdown-menu{
    background-color: #323232;
}

#styleW,
#styleB{
    color: #5482ff;
}